.drPhtots{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: relative;
}
.color{
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 70px;
    top: 70px;
}
.doctor-back{
    box-shadow: 0 0 10px #e3e1dc;
    border-radius: 10px;
    padding: 10px;
    /* height: 9rem;
    width: 30rem; */
}
.doctor-back:hover{
    box-shadow: 0 0 10px blue;
}